.topBar
    .wrapper
        .topBar_info
            -var address = JSON.parse(locals_address)[1];
            input#choosed-city-id(type="hidden",value="#{address.categoryId}")
            a.city-name(href='javascript:;')
                em #{address.name}
                i.icon
                .choose-city.text-sec(data-load='first')
                    .arrow-bottom
                    .city-list


            i.icon.devidel
            .wapUser
                img(src='/public/images/top_user.png')
            aside
                if userInfo
                if account
                    i.arrow
                    a.logout(href='/trade/order/list') 个人中心
                    a.accountInfo(href='/users/account/info') 账号信息
                    i.icon.devidel
                    a.logoutBtn(href='javascript:;') 退出

                else
                    a.loginBtn(href='javascript:;') 登录
            i.icon.devidel
            a.cartBtn(href='/trade/cart/list')
                i.icon
                |(
                if typeof cartNum != 'undefined'
                    span.cartNum #{cartNum}
                else
                    span.cartNum #{0}
                |)
            if userInfo
                input(type="hidden",id="userInfo",value="#{userInfo}")
            else
                input(type="hidden",id="userInfo",value="")
.header
    .wrapper
        a.logo(href='/', title='都安全') 都安全
        span.slogan
            img(src='/public/images/slogan.png',alt='首家健康监测服务机构')
        span.tel
            i.icon
            img(src='/public/images/num.png',alt='400-686-9911')
.clear
