#pagination.pagination
    - var edge_num = 1;
    - var lenPage = 6;
    - var upper_limit = pageCount-lenPage;
    - var half_page = Math.ceil(lenPage/2)
    - currentPage = parseInt(currentPage);

    - var start = currentPage>half_page?Math.max(Math.min(currentPage-half_page, upper_limit), 1):1
    - var end   = currentPage>half_page?Math.min(currentPage+half_page, pageCount):Math.min(lenPage, pageCount);
    //-div
        div start：#{start}
        div half_page：#{half_page}
        div end：#{end}
        div= pageCount
    if pageCount
        if currentPage==1
            span.prev: i.icon.disable
            //-开始1
        else if pageCount!=1
            //-开始2
            a.prev(href='?page=#{parseInt(currentPage)-1}'): i.icon
            //-em= currentPage == lenPage
        //-产生起始点
        if start>=1
            - var end2 = Math.min(edge_num, start);
            -for(var i=1;i<=end2;i++){
                //产生开始链接
                if i == currentPage
                    span.current #{currentPage}
                else if pageCount!=1
                    a(href='?page=#{i}') #{i}
            -}
            if edge_num < start
                span …

        //- 产生内部的些链接
        -for(var i=start+1; i<end; i++) {
            //-if i == currentPage
            if i == currentPage
                span.current #{currentPage}
            else if pageCount!=1
                a(href='?page=#{i}') #{i}
            //- 产生内部的些链接
        -}
        //产生结束点
        if end <= pageCount&&pageCount!=1
            if (pageCount - edge_num )> end
                span …
            - var begin = Math.max(pageCount-edge_num, end);
            -for(var i=begin;i<=pageCount;i++){
                if currentPage<pageCount
                    a(href='?page=#{i}') #{i}
                else
                    span.current #{i}

            -}

            //div= '产生结束点'

        if currentPage<pageCount
            a.next(href='?page=#{parseInt(currentPage)+1}'): i.icon
        else
            span.next: i.icon.disable

//-#pagination.pagination
    a.prev(href='javascript:;'): i.icon
    span.current 1
    a(href='javascript:;') 2
    a(href='javascript:;') 3
    a(href='javascript:;') 4
    a(href='javascript:;') 5
    a(href='javascript:;') 6
    span ……
    a(href='javascript:;') 100
    a.next(href='javascript:;'): i.icon


