extends ../layout

block content
    link(href='/css/trade/trade.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        | 您的位置：首页<em>#{sep}</em>购物车
    section.wrapper
        .cart
            .trade-step
                p.cart.step-wrapper
                    span
                        i.icon
                    span 我的购物车
                p.line.line1.text-info
                p.check.step-wrapper
                    span
                        i.icon
                    span.text-info 核对订单信息
                p.line.line2.text-info
                p.commit.step-wrapper
                    span
                        i.icon
                    span.text-info 成功提交订单
            header
                h2 我的购物车
            .list-info 商品信息
            .table-div
                .thead.back-sec.clearfix
                    .check
                    .name 商品名称
                    .price 单价
                    .info 取样信息
                    .tot-price 小计
                    .operation 操作
                each item in data
                    .table-tr.clearfix
                        -var imgUrl = item.goodsImageDTOs[0].imageUrl;
                        -var discountPrice = parseInt(item.discountPrice);
                        -var favPrice = 0;
                        -var proCity = '';
                        -var area = '';
                        -var city = '';
                        -var transmitType = '';
                        .check
                            span.checkbox
                        .name
                            img(src="#{imgUrl}")
                            span #{item.goodsName}
                        .price ￥#{discountPrice/100}
                        .info.text-sec
                            -var json = {"sampling_home":"上门取样","sampling_delivery":"快递取样","sampling_clinic":"门诊取样"}
                            each cartItemAttr,index in item.cartItemAttrs
                                -var value = JSON.parse(cartItemAttr.value);
                                if 'transmit_type' == cartItemAttr.attributeName
                                    -for(var type in value)
                                        -favPrice = parseInt(value[type]);
                                        -transmitType = json[type];
                                        p 服务方式:#{json[type]}(优惠￥#{favPrice/100})
                                if 'address' == cartItemAttr.attributeName
                                    p 服务区域:
                                        each areaObj,i in value
                                            if areaObj
                                                -area += areaObj.name;
                                                if i==1
                                                    -city = areaObj.name;
                                                    -cityId = areaObj.categoryId;
                                                if i<2
                                                   -proCity += areaObj.name;
                                                | #{areaObj.name}
                        -var subTotal = discountPrice-favPrice;
                        .tot-price.text-stress ￥#{subTotal/100}
                        .operation(data-id="#{item.id}",data-goodsId="#{item.goodsId}",data-goodsName="#{item.goodsName}",data-imgUrl="#{imgUrl}",data-discountPrice="#{discountPrice}",data-transmitType="#{transmitType}",data-subTotal="#{subTotal}",data-favPrice="#{favPrice}",data-proCity="#{proCity}",data-area="#{area}",data-city="#{city}",data-cityId="#{cityId}")
                            a.del-cart-item 删除
                        .mask.back-mask.none
                            span #{city}


                .tfoot.back-sec.border-default.clearfix
                    .check
                        span.checkbox.check-all
                    .check-text 全选
                    .submit-div
                        input.btn.text-primary.submit-btn(type="button",value="提交订单")
                    .price-text 共<em class="text-stress num">0</em>件商品,商品总价:
                        span.price.text-stress ￥0
            form#submitForm(action = "/trade/order/comfirmView",method="POST")
                input(type="hidden",name="items")
                input(type="hidden",name="totalPrice")
                input(type="hidden",name="cityId")
                input(type="hidden",name="proCity")
    include ../includes/footer
    script.
        seajs.use('/js/trade/cart.js')
