extends ../layout

block content
    link(href='/css/trade/trade.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        | 您的位置：首页<em>#{sep}</em>购物车
    section.wrapper.main-box
        -var addressJson = JSON.parse(locals_address);
        -var transmitTypeJson = JSON.parse(locals_sample);
        .cart
            if data.length > 0
                .trade-step
                    p.cart.step-wrapper
                        span
                            i.icon
                        span 我的购物车
                    p.line.line1.text-info
                    p.check.step-wrapper
                        span
                            i.icon
                        span.text-info 核对订单信息
                    p.line.line2.text-info
                    p.commit.step-wrapper
                        span
                            i.icon
                        span.text-info 成功提交订单
                header
                    h2 我的购物车
                .list-info 商品信息
                .table-div
                    .thead.back-sec.clearfix
                        .check
                        .name 商品名称
                        .price 单价
                        .info 取样信息
                        .tot-price 小计
                        .operation 操作
                    each item in data
                        .table-tr.clearfix
                            -var imgUrl = item.goodsImageDTOs[0].imageUrl;
                            -var discountPrice = parseInt(item.discountPrice);
                            -var favPrice = 0;
                            -var address = '',area = '';
                            -var city = '';
                            -var transmitType = '';
                            .check
                                span.checkbox
                            .name
                                a(href="/screenings/goods/detail/#{item.goodsId}")
                                    img(src="#{imgUrl}")
                                    span #{item.goodsName}
                            .price ￥#{discountPrice/100}
                            .info
                                each cartItemAttr,index in item.cartItemAttrs
                                    -var value = JSON.parse(cartItemAttr.value);
                                    if 'transmit_type' == cartItemAttr.attributeName
                                        -for(var type in value)
                                            -favPrice = parseInt(value[type]);
                                            -transmitType = type;
                                            p #{transmitTypeJson[type]}(服务费￥#{favPrice/100})
                                    if 'address' == cartItemAttr.attributeName
                                        -address = cartItemAttr.value;
                                        each areaObj,i in value
                                            if areaObj
                                                -area += areaObj.name;
                                                if i==1
                                                    -city = areaObj.name;
                                                    -cityId = areaObj.categoryId;
                                                if i<2
                                                   -proCity += areaObj.name;
                                p.text-sec 取样地址:#{area}
                            -var subTotal = discountPrice+favPrice;
                            .tot-price.text-stress ￥#{subTotal/100}
                            .operation(data-id="#{item.id}",data-goodsId="#{item.goodsId}",data-goodsName="#{item.goodsName}",data-imgUrl="#{imgUrl}",data-discountPrice="#{discountPrice}",data-transmitType="#{transmitType}",data-subTotal="#{subTotal}",data-favPrice="#{favPrice}",data-address="#{address}",data-city="#{city}")
                                a.del-cart-item 删除
                            .mask.back-mask.none
                                span #{city}


                    .tfoot.back-sec.border-default.clearfix
                        //.check
                        //    span.checkbox.check-all
                        //.check-text 全选
                        .submit-div
                            input.btn.text-primary.submit-btn(type="button",value="提交订单")
                        .price-text 共<em class="text-stress num">0</em>件商品,商品总价:
                            span.price.text-stress ￥0
                form#submitForm(action = "/trade/order/comfirmView",method="POST")
                    input(type="hidden",name="items")
                    input(type="hidden",name="totalPrice")

            else
                .empty-cart
                    .empty-cart-box
                        img.cart(src="/images/cart-empty.png")
                        .text
                            p.cart-tip 购物车空空如也
                            p.to-buy.text-main: a.text-main(href="javascript:void(0)") 马上去购买
            div.

    include ../includes/footer
    script.
        seajs.use('/js/trade/cart.js')
