extends ../layout

block content
    link(href='/css/trade/trade.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置：首页<em>#{sep}</em>筛查服务<em>#{sep}</em>核对订单信息<em>#{sep}</em>成功提交订单
    section.wrapper
        .confirm-buy
            .trade-step
                p.cart.step-wrapper
                    span
                        i.icon
                    span.text-info 我的购物车
                p.line.line1.text-stress
                p.check.step-wrapper
                    span
                        i.icon
                    span 核对订单信息
                p.line.line2.text-info
                p.commit.step-wrapper
                    span
                        i.icon
                    span.text-info 成功提交订单
            header
                h2 核对订单信息
            .list-info 商品信息
            table.table.goods-list
                thead
                    th(width="35%") 商品名称
                    th 单价
                    th(width="35%") 取样方式
                    th 小计
                tbody
                    each item in JSON.parse(data.items)
                        tr
                            td
                                img(src="#{item.imgUrl}")
                                span #{item.goodsName}
                            td ￥#{item.discountPrice/100}
                            td
                                p #{item.transmitType}(优惠￥#{item.favPrice/100})
                                p.text-sec 服务区域:#{item.area}
                            td.text-stress ￥#{item.subTotal/100}
            .list-info 使用优惠券
            table#coupon-table.table
                thead
                    th
                    th 优惠券
                    th 运用条件
                    th(width="40%") 使用范围
                    th 有效期
                tbody

            .list-info.text-stress 有兑换码?
            .code-box.clearfix
                input#coupon-code.border-default.fl(type='text',placeholder="请输入优惠券号码")
                button.add-coupon.border-default.btn.back-sec.fl 添加
            .table-div
                .tfoot.back-sec.clearfix
                    .service-area
                        span.text-sec.desp 服务区域:
                        span #{data.proCity}
                    .submit-div
                        input.btn.back-stress.text-primary.submit-btn(type="button",value="去支付")
                    .price-text
                        span.text-sec 应支付:
                        span.price.text-stress ￥#{data.totalPrice/100}
                        span (已优惠￥140)
            input(type="hidden",id="goodsTotalPrice",value="#{data.totalPrice}")
            input(type="hidden",id="cityId",value="#{data.cityId}")

    include ../includes/footer
    script.
        seajs.use('/js/trade/orderConfirm.js')
