extends ../layout

block content
    link(href='/css/trade/trade.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置：首页<em>#{sep}</em>筛查服务<em>#{sep}</em>核对订单信息<em>#{sep}</em>成功提交订单
    section.wrapper
        .order-success
            .trade-step
                p.cart.step-wrapper
                    span
                        i.icon
                    span.text-info 我的购物车
                p.line.line1.text-stress
                p.check.step-wrapper
                    span
                        i.icon
                    span.text-info 核对订单信息
                p.line.line2.text-stress
                p.commit.step-wrapper
                    span
                        i.icon
                    span 成功提交订单

            .order-box.border-default
                i.icon.success
                span.price-box
                    span.text-sec 订单支付:
                    span.price.text-stress ￥#{parseInt(data.totalCost)/100}
                span.order-detail.text-main
                    a.text-main(href='/trade/order/detail?id=#{data.id}') 订单详情>>


            .list-info 选择支付方式

            .pay-box.wechat-pay.border-default 微信支付
            .pay-box.alipay.border-default 支付宝支付


            #order-detail(data-id="#{data.id}")



    include ../includes/footer
    script.
        seajs.use('/js/trade/order_success.js')
