extends ../layout

block content
    link(href='/css/trade/trade.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置：首页<em>#{sep}</em>筛查服务<em>#{sep}</em>核对订单信息<em>#{sep}</em>成功提交订单
    section.wrapper
        .confirm-buy
            -var discountPriceTotal = 0;
            -var servicePriceTotal = 0;
            .trade-step
                p.cart.step-wrapper
                    span
                        i.icon
                    span.text-info 我的购物车
                p.line.line1.text-stress
                p.check.step-wrapper
                    span
                        i.icon
                    span 核对订单信息
                p.line.line2.text-info
                p.commit.step-wrapper
                    span
                        i.icon
                    span.text-info 成功提交订单
            header
                h2 核对订单信息
            .list-info 商品信息
            table.table.goods-list
                thead
                    th(width="35%") 商品名称
                    th 单价
                    th(width="35%") 取样方式
                    th 小计
                tbody
                    -var cityId='',proCity='';
                    -var sampleJson = JSON.parse(locals_sample);
                    each item,i in JSON.parse(data.items)
                        tr(data-address="#{item.address}",data-transmitType="#{item.transmitType}",data-goodsId="#{item.goodsId}")
                            -var discountPrice = parseInt(item.discountPrice);
                            -var servicePrice = parseInt(item.favPrice);
                            - discountPriceTotal += discountPrice;
                            - servicePriceTotal += servicePrice;
                            td
                                a(href="/screenings/goods/detail/#{item.goodsId}")
                                    img(src="#{item.imgUrl}")
                                    span #{item.goodsName}
                            td ￥#{discountPrice/100}
                            td
                                p #{sampleJson[item.transmitType]}(服务费￥#{servicePrice/100})
                                p.text-sec 取样地址:
                                    each areaObj,j in JSON.parse(item.address)
                                        if areaObj
                                            if i==0 && j == 1
                                                -cityId = areaObj.categoryId;
                                            if i==0 && j < 2
                                                -proCity += areaObj.name;
                                            | #{areaObj.name}
                            td.text-stress ￥#{parseInt(item.subTotal)/100}

            .list-info.coupon-trigger
                i.icon
                span 使用优惠券
            .coupon-box(data-load="first")
                table#coupon-table.table.coupon-table
                    thead
                        th
                        th 优惠券
                        th 运用条件
                        th(width="40%") 使用范围
                        th 有效期
                    tbody

                .code-box.clearfix
                    input#coupon-code.border-default.fl(type='text',placeholder="请输入优惠券号码")
                    button.add-coupon.border-default.btn.back-sec.fl 添加

            .table-div
                .tfoot.back-sec.clearfix
                    .service-area
                        span.text-sec.desp 服务区域:
                        span #{proCity}
                    .submit-div
                        input#submit-btn.btn.back-stress.text-primary(type="button",value="去支付")
                    #actualTotal.price-text
                        span.text-sec 应支付:
                        span.price.text-stress ￥#{parseInt(data.totalPrice)/100}
                        span.fav (已优惠￥0)
            input(type="hidden",id="goodsTotalPrice",value="#{data.totalPrice}")
            input(type="hidden",id="discountPriceTotal",value="#{discountPriceTotal}")
            input(type="hidden",id="servicePriceTotal",value="#{servicePriceTotal}")
            input(type="hidden",id="cityId",value="#{cityId}")

            form#submitForm(action = "/trade/order/create",method="POST")
                input(type="hidden",name="orderPlaceDTO")
    include ../includes/footer
    script.
        seajs.use('/js/trade/order_confirm.js')
