extends ../layout

block content
    //-link(href='/css/search_report.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>筛查服务
        if get_goods_category_success
                each item in get_goods_category
                    if item.id==categoryId
                        em #{sep}
                        |#{item.name}
    section.wrapper.tab.clearfix
        if get_goods_category_success
            ul
              each item in get_goods_category
                li(data-id=item.id): a(href='/screenings/goods/#{item.id}') #{item.name}
        if get_goods_category_success
            each item in get_goods_category
                if item.others
                    img(data-id=item.id)(src='http://beta.image.douanquan.com/#{JSON.parse(item.others)[0].imageUrl}',alt=item.name,title=item.name)
              //img(src='/images/goods_ban01.png')
    include goods_mixin
    section.item_list.clearfix
        .wrapper
            .pic_list.goods_list
                if get_goods_list_success
                    if !get_goods_list.length
                        aside 暂无套餐
                    else
                        ul#waterfal
                            each item in get_goods_list
                                li.box
                                    a(href='/screenings/goods/detail/#{item.id}' target='_blank')
                                        //-img(data-original='images/product1.png')
                                        if item.goodsImages
                                            if browser.ie
                                                img(src='#{item.goodsImages[0].imageUrl}',alt='#{item.goodsName}')
                                            else
                                                img(src='#{item.goodsImages[0].imageUrl}',alt='#{item.goodsName}')
                                                //-img(data-original='#{item.goodsImages[0].imageUrl}',alt='#{item.goodsName}')
                                        h4 #{item.goodsName}
                                    if item.productKeyAttributeList
                                        each arr in item.productKeyAttributeList
                                            if arr.attributeName == 'slogan'
                                                p
                                                    if arr.value.length > 50
                                                        | #{arr.value.substring(0, 50)}……
                                                    else
                                                        | #{arr.value}
                                    .price
                                        span.new
                                            em ￥
                                            +transferUnit(item.discountPrice)
                                        span.old
                                            | 原价￥
                                            +transferUnit(item.price)


                //-div
                    a.more(href='javascript:;')
                        | 查看全部
                        i.icon
    include ../includes/footer
    script.
        seajs.use('/js/screenings/goods.js')
