extends ../layout

block content
    //-link(href='/public/css/search_report.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>筛查服务
        if get_goods_category_success
                each item in get_goods_category
                    if item.id==categoryId
                        em #{sep}
                        |#{item.name}
    section.wrapper.tab.clearfix
        if get_goods_category_success
            ul
              each item in get_goods_category
                li(data-id=item.id): a(href='/screenings/goods/#{item.id}') #{item.name}
        if get_goods_category_success
            each item in get_goods_category
                if item.others&&item.id==categoryId
                    -var others = JSON.parse(item.others)
                    if browser.mobile
                        img(src=others.mobileImage[0].imageUrl ,alt=item.name,title=item.name,data-id=item.id)
                    else
                        img(src=others.pcImage[0].imageUrl ,alt=item.name,title=item.name,data-id=item.id)
                        //-img(data-original=JSON.parse(item.others)[0].imageUrl ,alt=item.name,title=item.name,data-id=item.id)
              //-img(src='/images/goods_ban01.png')
    include goods_mixin
    section.item_list.goods_list_wrapper.clearfix
        .wrapper
            //-.pic_list.goods_list
            .pic_list.goods_list
                if get_goods_list_success
                    if !get_goods_list.length
                        aside 暂无套餐
                    else
                        ul#waterfal(data-pageCount=pageCount)
                            each item in get_goods_list
                                li.box
                                    //a(href='/screenings/goods/detail/#{item.id}' target='_blank')
                                    a(href='/screenings/goods/detail/#{item.id}')
                                        //-img(data-original='images/product1.png')
                                        -var goodsImg;
                                        if browser.mobile && item.mobileCoverImages
                                            -goodsImg = item.mobileCoverImages[0];
                                        else if item.pcCoverImages
                                            -goodsImg = item.pcCoverImages[0];
                                        if goodsImg
                                            if browser.ie
                                                img(src='#{goodsImg}',alt='#{item.goodsName}')
                                            else
                                                if browser.iPhone
                                                    img(src=goodsImg,alt='#{item.goodsName}',title='#{item.goodsName}')
                                                else
                                                    img(data-original='#{goodsImg}',alt='#{item.goodsName}')

                                    h4
                                        a(href='/screenings/goods/detail/#{item.id}' target='_blank') #{item.goodsName}
                                    p.ellips
                                        if item.slogan.length > 50
                                            | #{item.slogan.substring(0, 50)}……
                                        else
                                            | #{item.slogan}
                                    //-if item.productKeyAttributeList
                                        each arr in item.productKeyAttributeList
                                            if arr.attributeName == 'slogan'
                                                p.ellips
                                                    if arr.value.length > 50
                                                        | #{arr.value.substring(0, 50)}……
                                                    else
                                                        | #{arr.value}
                                    .price
                                        span.new
                                            em ￥
                                            +transferUnit(item.discountPrice)
                                        span.old
                                            | 原价￥
                                            +transferUnit(item.price)


                //-div
                    a.more(href='javascript:;')
                        | 查看全部
                        i.icon
    include ../includes/footer
    script(src="/public/js/screenings/goods.bundle.js",type="text/javascript",charset="UTF-8")
