extends layout

block content
  link(href='/public/css/index.css',rel='styleSheet')
  include includes/responsive

  .banner
    if !browser.mobile
        //-.touchslider-viewport
        .slideBox
          p: img(src='/public/images/banner1.jpg')
          p: img(src='/public/images/banner2.jpg')
        //-.tit
            span 1
            span 2
    else
      .slideBox
        p: img(src='/public/images/mBanner1.jpg')
        p: img(src='/public/images/mBanner2.jpg')
      //-img(src='/public/images/BG_small.png')
    //-.wrapper
      dl
        dt
          h3 我们的核心优势
          p
            i.icon
            |三甲医院专家、国际诊疗指南规范
          p
            i.icon
            |罗氏诊断、碧迪医疗共建联合实验室
        dd
          h3 我们的服务特色
          p
            i.icon
            |O2O互联网就医，便捷、快速、更隐私
          p
            i.icon
            |上门、邮寄、门诊等个性化服务选择
  .home.wrapper
    include includes/nav

  section.item_list.treat_list.clearfix
    .wrapper
      //-div #{JSON.stringify(get_department)}
      header
        h2
          //-i.icon
          |精准诊疗
        p 自聘知名三甲医院专家及各地名医工作室、医生集团深度战略合作，全程依据国际诊疗指南操作治疗，为您提供精准、规范、安心的诊疗服务。
      .pic_list.department_list
        if !get_department_list
          aside 暂无内容
        else
            mixin agencys_list()
              each item in get_department_list
                li
                  a(href='/agencys/department/detail/#{item.id}',target='_blank')
                    img(src=item.imgIndex)
                  h4 #{item.title}
          if browser.mobile&&!browser.iPad
            ul
              +agencys_list()
          else
            ul#sliderBox
              +agencys_list()
        div.tc.clear
          a.more(href='/agencys',target='_blank')
            |更多
            i.icon
  section.item_list.boxBg.clearfix
    .wrapper
      //-div #{JSON.stringify(get_department)}
      header
        h2
          //-i.icon
          | 特色医疗
        p 提供宫颈病变、前列腺、生殖健康、中医特色、分子诊断等特色医疗服务。
      .feature
        figure
          a(href='/agencys/feature/detail/1')
            span.s01
            figcaption 宫颈病变一体化门诊
        figure
          a(href='/agencys/feature/detail/2')
            span.s02
            figcaption 前列腺专业门诊
        figure
          a(href='/agencys/feature/detail/3')
            span.s03
            figcaption 生殖健康门诊
        figure
          a(href='/agencys/feature/detail/4')
            span.s04
            figcaption 中医特色门诊
        figure
          a(href='/agencys/feature/detail/5')
            span.s05
            figcaption 分子诊断中心
  section.item_list.clearfix
    .wrapper
      header
        h2
          //-i.icon
          | 健康筛查
        p 领先的PCR核酸检测技术，并与罗氏诊断、碧迪医疗等世界医疗巨头共建符合国际标准的实验室，提供邮寄、上门、门诊等筛查服务，更精准、更快速、更隐私。
      .pic_list
        //div #{parseInt(5*Math.random())+1}
        mixin randoms(n)
          #{parseInt(n * Math.random()) + 1}
        //-div(class='line line01')
          +randoms(5)
        mixin transferUnit(arr)
          if parseFloat(arr) / 100 % 1 != 0
            | #{parseFloat(arr) / 100}
          else
            | #{parseFloat(arr) / 100}.00
        if get_goods_list_success
          ul
            each item in get_goods_list
              li
                a(href='/screenings/goods/detail/#{item.id}',target='_blank')
                  //-img(data-original='images/product1.png')
                  if item.goodsImages
                    if browser.ie
                      img(src='#{item.goodsImages[0].imageUrl}',alt='#{item.goodsName}',title='#{item.goodsName}')
                    else
                      img(data-original='#{item.goodsImages[0].imageUrl}',alt='#{item.goodsName}',title='#{item.goodsName}')
                  h4 #{item.goodsName}
                if item.productKeyAttributeList
                  each arr in item.productKeyAttributeList
                    if arr.attributeName == 'fit_people'
                      p
                        if arr.value.length > 50
                          | #{arr.value.substring(0, 50)}……
                        else
                          | #{arr.value}
                .price
                  span.new
                    em ￥
                    +transferUnit(item.discountPrice)
                  span.old
                    | 原价￥
                    +transferUnit(item.price)
          div.tc.clear
            a.more(href='/screenings/goods')
              | 更多
              i.icon
  include ./includes/standard_list
  //-section.item_list.standard_wrapper.boxBg.clearfix
    .wrapper
        header.tc
          .standard_header
            h2 以客户为中心，构建就医“心”体验
            p 基于“互联网+医疗”理念和精准医学前沿技术，构建垂直细分领域全流程O2O闭环医疗服务生态系统
        .standard
          ul
            li
              figure
                if browser.ie
                  img(src='/public/images/convenent.png')
                else
                  if browser.mobile
                    img(data-original='/public/images/convenient-w.png')
                  else
                    img(data-original='/public/images/convenent.png')
                figcaption 便捷
                em CONVENIENT
              p 客户足不出户，即可享受随需定制的健康资讯、在线咨询、在线预约、上门检测、上门问诊服务；也可以选择门诊检测与诊疗服务。
            li
              figure
                if browser.ie
                  img(src='/public/images/accurate.png')
                else
                  if browser.mobile
                    img(data-original='/public/images/accurate-w.png')
                  else
                    img(data-original='/public/images/accurate.png')
                figcaption 精准
                em CONVENIENT
              p 采用国际最先进的核酸检测技术，整合国内外最先进的设备、试剂和检验方法，大大提升检测的精准度。
            li
              figure
                if browser.ie
                  img(src='/public/images/respecet.png')
                else
                  if browser.mobile
                    img(data-original='/public/images/respecet-w.png')
                  else
                    img(data-original='/public/images/respecet.png')
                figcaption 尊重
                em RESPECET
              p 采用国际诊疗指南与以客户为中心的服务流程，在尊重医学本质的基础上，提升客户的就医体验。
            li
              figure
                if browser.ie
                  img(src='/public/images/early.png')
                else
                  if browser.mobile
                    img(data-original='/public/images/early-w.png')
                  else
                    img(data-original='/public/images/early.png')
                figcaption 及早
                em EARLY
              p 通过引入最先进的技术手段缩短窗口期。早发现，早治疗；早排除，早安心。
            li
              figure
                if browser.ie
                  img(src='/public/images/secret.png')
                else
                  if browser.mobile
                    img(data-original='/public/images/secret-w.png')
                  else
                    img(data-original='/public/images/secret.png')
                figcaption 隐私
                em SECRET
              p 分时预约、身份条码、装修分割设计、一对一服务等，保证客户的就医隐私性。

  include includes/footer

  script(src="/public/js/index.bundle.js")