extends layout

block content
  link(href='/public/css/index.css',rel='styleSheet')
  include includes/responsive

  .banner
    if !browser.mobile
        //-.touchslider-viewport
        .slideBox
          p: img(src='/public/images/banner1.jpg',alt='都安全医疗精英团队')
          p: img(src='/public/images/banner2.jpg',alt='都安全医疗服务')
        //-.tit
            span 1
            span 2
    else
      .slideBox
        p: img(src='/public/images/mBanner1.jpg',alt='都安全医疗精英团队')
        p: img(src='/public/images/mBanner2.jpg',alt='都安全医疗服务')
      //-img(src='/public/images/BG_small.png')
    //-.wrapper
      dl
        dt
          h3 我们的核心优势
          p
            i.icon
            |三甲医院专家、国际诊疗指南规范
          p
            i.icon
            |罗氏诊断、碧迪医疗共建联合实验室
        dd
          h3 我们的服务特色
          p
            i.icon
            |O2O互联网就医，便捷、快速、更隐私
          p
            i.icon
            |上门、邮寄、门诊等个性化服务选择
  .home.wrapper
    include includes/nav

  section.item_list.treat_list.clearfix
    .wrapper.noMP
      //-div #{JSON.stringify(get_department)}
      header
        h2
          //-i.icon
          |精准诊疗
        p 自聘知名三甲医院专家及各地名医工作室、医生集团深度战略合作，全程依据国际诊疗指南操作治疗，为您提供精准、规范、安心的诊疗服务。
      .pic_list.department_list
        if !get_department_list
          aside 暂无内容
        else
          mixin agencys_list()
            each item,index in get_department_list
              li
                if !browser.mobile
                  a(href='/agencys/department/detail/#{item.id}.html',target='_blank',index=index)
                    img(src=item.imgIndex,alt=item.title)
                    h4 #{item.title}
                else
                  if (index+1)%2==1
                    a(href='/agencys/department/detail/#{item.id}.html',target='_blank',index=index)
                      if browser.mobile
                        img(src=item.imgWapIndex,alt=item.title)
                      else
                        img(src=item.imgIndex,alt=item.title)
                      h4.bgGray #{item.title}
                  else
                    a(href='/agencys/department/detail/#{item.id}.html',target='_blank',index=index)
                      h4 #{item.title}
                      if browser.mobile
                        img(src=item.imgWapIndex,alt=item.title)
                      else
                        img(src=item.imgIndex,alt=item.title)


          if browser.mobile&&!browser.iPad
            ul
              +agencys_list()
          else
            ul#sliderBox
              +agencys_list()
        div.tc.clear
          a.more(href='/agencys/detail/2',target='_blank')
            |更多
            i.icon
  section.item_list.boxBg.clearfix
    .wrapper
      //-div #{JSON.stringify(get_department)}
      header
        h2
          //-i.icon
          | 特色医疗
        p 提供宫颈病变、前列腺、生殖健康、中医特色、分子诊断等特色医疗服务。
      .feature
        figure
          a(href='/agencys/feature/detail/1.html')
            span.s01
            figcaption 宫颈病变一体化门诊
        figure
          a(href='/agencys/feature/detail/2.html')
            span.s02
            figcaption 前列腺专业门诊
        figure
          a(href='/agencys/feature/detail/3.html')
            span.s03.on
            figcaption 生殖健康门诊
        figure
          a(href='/agencys/feature/detail/4.html')
            span.s04
            figcaption 中医特色门诊
        figure
          a(href='/agencys/feature/detail/5.html')
            span.s05
            figcaption 分子诊断中心
  section.item_list.clearfix
    .wrapper
      header
        h2
          //-i.icon
          | 健康筛查
        p.short 领先的PCR核酸检测技术，并与罗氏诊断、碧迪医疗等世界医疗巨头共建符合国际标准的实验室，提供邮寄、上门、门诊等筛查服务，更精准、更快速、更隐私。
      .pic_list
        //div #{parseInt(5*Math.random())+1}
        mixin randoms(n)
          #{parseInt(n * Math.random()) + 1}
        //-div(class='line line01')
          +randoms(5)
        mixin transferUnit(arr)
          if parseFloat(arr) / 100 % 1 != 0
            | #{parseFloat(arr) / 100}
          else
            | #{parseFloat(arr) / 100}.00
        mixin transferUnit2(arr)
          |#{(parseFloat(arr) / 100)}
        if get_goods_list_success
          ul
            each item,index in get_goods_list
                li
                  a(href='/screenings/goods/detail/#{item.id}',target='_blank')
                    //-img(data-original='images/product1.png')
                    if !browser.mobile&&item.pcCoverImages&&item.pcCoverImages.length
                      - var images = item.pcCoverImages[0];
                      if browser.ie
                        img(src='#{images}',alt='#{item.goodsName}',title='#{item.goodsName}')
                      else
                        img(data-original='#{images}',alt='#{item.goodsName}',title='#{item.goodsName}')
                    if browser.mobile&&item.mobileCoverImages&&item.mobileCoverImages.length
                      if browser.iPhone
                        img(src='#{item.mobileCoverImages[0]}',alt='#{item.goodsName}',title='#{item.goodsName}')
                      else
                        img(data-original='#{item.mobileCoverImages[0]}',alt='#{item.goodsName}',title='#{item.goodsName}')
                    h4 #{item.goodsName}
                  if item.slogan
                    p #{item.slogan}
                  .price
                    span.new
                      em ￥
                      if !browser.mobile
                        +transferUnit(item.discountPrice)
                      else
                        +transferUnit2(item.discountPrice)
                    span.old
                      | 原价￥
                      +transferUnit(item.price)
          div.tc.clear
            a.more(href='/screenings/goods')
              | 更多
              i.icon
  include ./includes/standard_list

  include includes/footer

  script(src="/public/js/index.bundle.js")