extends ../layout

block content
    link(href='/public/css/healths/health_article.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>健康常识<em>#{sep}</em>#{get_article_detail.title}
    section.wrapper.health.clearfix
        .health_detail
          if get_article_detail_success  
            header
                h1 #{get_article_detail.title}
                time 发表于：#{moment(get_article_detail.createdAt).format('YYYY-MM-DD HH:mm:ss')}
            //-article!= get_article_detail_content
            //-article!= markdown.toHTML(get_article_detail.content)
            article!= get_article_detail.content
        aside
            //-广告
            include ad
            //-病原体
            include list_diseases
            //-科普知识
            include list_kepu
            //-有问有答
            include  list_ask
    section.boxBg
        .wrapper.recommend.clearfix
            //-科普推荐
            include  list_recommend
    include ../includes/footer
    script(src="/public/js/screenings/goods.bundle.js",type="text/javascript",charset="UTF-8")
