if get_article_list_ask_success
    //-.list#list_ask
        h3
            | 有问有答
        ul
            each item in get_article_list_ask
                li: a(href='/healths/list/article/#{item.id}',title='#{item.title}')
                    i.icon
                    |#{item.title}
            //-li: a(href='javascript:;')
                i.icon
                | 女性经期要注意些什么？
        if ask_pageCount>=2
           .pages
               if ask_currentPage==1
                   a.prev.disable(href='javascript:;'): i.icon
                   a.next(href='javascript:;',data-page=parseInt(ask_currentPage)+1): i.icon
               else if ask_currentPage==pageCount
                   a 最后一页
                //a.prev(href='javascript:;'): i.icon
                //a.prev(href='javascript:;'): i.icon.disable
                //a.next(href='javascript:;'): i.icon.disable
                //a.next(href='javascript:;'): i.icon
    div!= props
    .list#ask_test!= get_article_list_ask_react
