extends ../layout

block content
    link(href='/public/css/agencys/agency_infos.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：<a href='/'>首页</a><em>#{sep}</em><a href='/agencys'>机构网络</a><em>#{sep}</em>#{get_agency_detail.title}
    section.boxBg
        .wrapper.info_tel.clearfix
            h2 都安全健康产业投资有限公司


            p
                em 服务电话：
                |400-686-9911
            p
                em 客服服务时间：
                | 周一至周日 08:30 - 24:00
            p
                em 门诊营业时间：
                -var time = null;
                -var length = null;
                -var timeDay='';
                if(get_hospital_time_success)
                    -time = get_hospital_time[0];
                    -length = get_hospital_time.length

                    if length-1 == get_hospital_time[length-1].week-get_hospital_time[0].week
                        -timeDay = CONST.weekCn[get_hospital_time[0].week-1]+"至"+CONST.weekCn[get_hospital_time[length-1].week-1]
                    else
                        each item,index in get_hospital_time
                            if length != index + 1
                                -timeDay +=CONST.weekCn[item.week-1]+'、'
                            else
                                -timeDay +=CONST.weekCn[item.week-1]



                    | #{timeDay}
                    |#{time.startTime.replace(/:00/,'')}
                    |-
                    |#{time.endTime.replace(/:00/,'')}
                else
                    |门诊营业时间获取失败
                    //| 周一至周日 9:00-21:00
    section.info_detail.clearfix
        .wrapper
            h3 #{get_agency_detail.title}
            hgroup
                h4
                    i.icon.jieshao
                    |诊所介绍
                p #{get_agency_detail.des}
            hgroup
                h4
                    i.icon.address
                    |诊所地址
                p #{get_agency_detail.address}
    section.info_list.clearfix
        .wrapper
            //-div= JSON.stringify(get_department_list)
            .lr_list
                if !get_department_list
                    aside 暂无内容
                else
                    each item in get_department_list
                        figure
                            a(href='/agencys/department/detail/#{item.id}.html',title=item.title)
                                img(data-original=item.imgList alt=item.title)
                            figcaption
                                a(href='/agencys/department/detail/#{item.id}.html',alt=item.title)
                                    h4 #{item.title}
                                    p.ellips #{item.des}
                                a.more(href='/agencys/department/detail/#{item.id}.html') 更多
    section
        .wrapper
            #allmap
    include ../includes/footer
    script(src="/public/js/agencys/detail.bundle.js",type="text/javascript",charset="UTF-8")
