extends ../layout

block content
    link(href='/public/css/agencys/agency_infos.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>机构网络<em>#{sep}</em>#{get_agency_detail.title}
    section.boxBg
        .wrapper.info_tel.clearfix
            h2 都安全健康产业投资有限公司
            p
                em 服务电话：
                |400-686-9911
            p
                em 客服服务时间：
                | 周一至周日 8:30-24:00
            p
                em 门诊营业时间：
                | 周一至周日 9:00-21:00
    section.info_detail.clearfix
        .wrapper
            h3 #{get_agency_detail.title}
            hgroup
                h4
                    i.icon.jieshao
                    |门诊介绍
                p 都安全高端连锁门诊服务服务于对就诊环境、服务、隐私、便捷、快速、专业要求较高，自我健康管理意识强的中高端人群。设置有妇科、不孕不育科、皮肤性病科、预防保健等临床科室，以及检验科等辅助科室。提供符合国际标准的常见疾病及专科病种的诊疗服务，包括健康咨询、快速精准筛查、检测、个性化治疗、预防保健计划等持续性医疗保健服务。

            hgroup
                h4
                    i.icon.address
                    |门诊地址
                p 广州市越秀区环市东路422号2楼201室
    section.info_list.clearfix
        .wrapper
            //-div= JSON.stringify(get_department_list)
            .lr_list
                if !get_department_list
                    aside 暂无内容
                else
                    each item in get_department_list
                        figure
                            a(href='javascript:void(0)',title=item.title)
                                img(data-original=item.imgList)
                            figcaption
                                h4: a(href='/agencys/department/detail/#{item.id}',alt=item.title) #{item.title}
                                p.ellips #{item.des}
                                a.more(href='/agencys/department/detail/#{item.id}') 更多
                //-div
                    figure
                        a(href='javascript:void(0)')
                            img(data-original='/public/images/department/dermatology_01.jpg')
                        figcaption
                            h4: a(href='javascript:void(0)') 皮肤科1
                            //-time 发表于：#{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')
                            p
                                | 都安全医疗皮肤科具备专业的医护团队及人性化的护理流程系统，提供全面、专业的常见皮肤病诊疗与护理，开展各种激光疗法、冷冻疗法、光动力疗法，解决不同皮肤问题及皮肤性病问题。
                    figure
                        a(href='javascript:void(0)')
                            img(data-original='/public/images/department/laboratory_02.jpg')
                        figcaption
                            h4: a(href='javascript:void(0)') 检验科
                            //-time 发表于：#{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')
                            p
                                | 都安全医疗检验科是都安全医疗机构重点科室之一，与罗氏诊断、碧迪医疗等世界医疗巨头深度合作，共建符合国际认证的标准化实验室和PCR实验室。科室整合全新的服务理念、采样方式和进口产品，开展基因检测、分子探针、微流控芯片、质谱技术等行业顶尖的临床技术，基于精准检测的个性化解决方案及专业经历丰富的医学检验专家团队，为您提供便捷、快速、精准、及时的检验服务，及早发现疾病、及早预防、及早治疗。
                    figure
                        a(href='javascript:void(0)')
                            img(data-original='/public/images/department/preventive_03.jpg')
                        figcaption
                            h4: a(href='javascript:void(0)') 预防保健科
                            //-time 发表于：#{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')
                            p
                                | 预防保健是家庭医学的基础。都安全医疗预防保健科将个人及家庭的健康需求纳入全流程健康管理范畴，为个人及家庭提供一系列专业的健康教育、健康咨询及预防保健计划，并通过早期干预等措施，达到预防疾病，促进健康和提高生命质量的健康需求，可针对个人或家庭制定个性化的疾病防治及控制方案，确保个人及家庭成员的健康，避免出现健康隐患。

                    figure
                        a(href='javascript:void(0)')
                            img(data-original='/public/images/department/urology_02.jpg')
                        figcaption
                            h4: a(href='javascript:void(0)') 泌尿外科
                            //-time 发表于：#{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')
                            p
                                | 泌尿外科是都安全医疗基于精准检查与诊疗的重点科室之一，由国内外知名资深外科专家领衔，配备经验丰富的护理团队，提供符合国际标准的常见泌尿系统疾病的诊疗服务，基于与国际一流水平同步的精准检测设备，践行“明确病因，个性诊疗”的诊疗理念，在前列腺炎、男性不育、性功能障碍等泌尿外科疾病方面提供个性化的诊疗方案及全程的健康管理服务。

                //-if get_department_success
                       each item in get_department
                            figure
                                a(href='javascript:void(0)')
                                    img(data-original='/images/product1.png')
                                figcaption
                                    h4: a(href='javascript:void(0)') #{item.deptName}
                                    //-time 发表于：#{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')
                                    p
                                        | #{item.description}
                                        //-if item.description.length > 60
                                            | #{item.description.substring(0, 60)}……
                                        //-else

                                            | #{item.description}
    section
        .wrapper
            #allmap
    include ../includes/footer
    script(src="/public/js/agencys/detail.bundle.js",type="text/javascript",charset="UTF-8")
