extends ../layout

block content
    link(href='/public/css/agencys/agency_infos.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>机构网络<em>#{sep}</em>#{get_agency_detail.title}
    section.boxBg
        .wrapper.info_tel.clearfix
            h2 都安全健康产业投资有限公司
            p
                em 服务电话：
                |400-686-9911
            p
                em 客服服务时间：
                | 周一至周日 8:30-24:00
            p
                em 门诊营业时间：
                | 周一至周日 9:00-21:00
    section.info_detail.clearfix
        .wrapper
            h3 #{get_agency_detail.title}
            hgroup
                h4
                    i.icon.jieshao
                    |诊所介绍
                p #{get_agency_detail.des}
            hgroup
                h4
                    i.icon.address
                    |诊所地址
                p #{get_agency_detail.address}
    section.info_list.clearfix
        .wrapper
            //-div= JSON.stringify(get_department_list)
            .lr_list
                if !get_department_list
                    aside 暂无内容
                else
                    each item in get_department_list
                        figure
                            a(href='/agencys/department/detail/#{item.id}',title=item.title)
                                img(data-original=item.imgList alt=item.title)
                            figcaption
                                a(href='/agencys/department/detail/#{item.id}',alt=item.title)
                                    h4 #{item.title}
                                    p.ellips #{item.des}
                                a.more(href='/agencys/department/detail/#{item.id}') 更多
    section
        .wrapper
            #allmap
    include ../includes/footer
    script(src="/public/js/agencys/detail.bundle.js",type="text/javascript",charset="UTF-8")
