extends ../layout

block content
    link(href='/css/agencys/agency_infos.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>机构网络
    section.boxBg
        .wrapper.info_tel.clearfix
            h2 都安全健康产业投资有限公司
            p
                em 服务电话：
                |400-686-9911
            p
                em 服务时间：
                | 周一至周五8:30-18:00
            p 热线和免费电话咨询服务将在工作日提供：周一至周五 9:00-17：00
    section.info_detail.clearfix
        .wrapper
            h3 广州都安全门诊
            hgroup
                h4
                    i.icon.jieshao
                    |门诊介绍
                p 都安全高端连锁门诊服务服务于对就诊环境、服务、隐私、便捷、快速、专业要求较高，自我健康管理意识强的中高端人群。设置有妇科、不孕不育科、皮肤性病科、预防保健等临床科室，以及检验科等辅助科室。提供符合国际标准的常见疾病及专科病种的诊疗服务，包括健康咨询、快速精准筛查、检测、个性化治疗、预防保健计划等持续性医疗保健服务。

            hgroup
                h4
                    i.icon.address
                    |门诊地址
                p 广州市越秀区环市东路422号2楼201室

            #mymap
    section
        .wrapper
            #allmap
    section.info_list.clearfix
        .wrapper
            .lr_list
                if get_department_success
                   each item in get_department
                        figure
                            a(href='javascript:;')
                                img(data-original='/images/product1.png')
                            figcaption
                                h4: a(href='javascript:;',target='_blank') #{item.deptName}
                                //-time 发表于：#{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')}
                                p
                                    if item.description.length > 60
                                        | #{item.description.substring(0, 60)}……
                                    else
                                        | #{item.description}
    include ../includes/footer
    script.
        seajs.use('/js/agencys/infos.js')
