extends ../layout

block content
    link(href='/css/agencys/agency_infos.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的为位置：首页<em>#{sep}</em>机构网络
    section.boxBg
        .wrapper.info_tel.clearfix
            h2 深圳市都安全健康产业有限公司
            p
                em 总部电话
                |400-666-4000
            p
                em 网络传真
                | 400-666-4000
            p 热线和免费电话咨询服务将在工作日提供：周一至周五 9:00-17：00
    section.info_detail.clearfix
        .wrapper
            h3 广东省门诊部
            hgroup
                h4
                    i.icon.jieshao
                    |门诊介绍
                p 都安全高端连锁门诊服务定位于对就诊环境、服务、隐私、便捷、快速、专业要求较高，自我健康管理意识强，“轻医疗”的中高端人群。设置有内科、外科、妇科、皮肤科、全科医学、预防保健等临床科室，以及检验科等辅助科室。提供符合国际标准的常见疾病及专科病种的诊疗服务，包括健康咨询、快速精准筛查、检测、个性化治疗、预防保健计划等持续性医疗保健服务。

            hgroup
                h4
                    i.icon.address
                    |门诊地址
                p 广东省东莞市朝阳二路6688号都安全门诊大楼
            #mymap
    section
        .wrapper
            #allmap
    section.info_list.clearfix
        .wrapper
            .lr_list
                if get_department
                   each item in get_department
                        figure

                            //a(href='/healths/list/article/#{item.id}',target='_blank')
                            a(href='javascript:;')
                                img(data-original='/images/product1.png')
                            figcaption
                                h4: a(href='/healths/list/article/#{item.id}',target='_blank') #{item.deptName}
                                //-time 发表于：#{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')}
                                p
                                    if item.description.length > 60
                                        | #{item.description.substring(0, 60)}……
                                    else
                                        | #{item.description}
    include ../includes/footer
    script.
        seajs.use('/js/agencys/infos.js')
