extends ../layout

block content
    link(href='/css/treat/treat.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>诊疗服务<em>#{sep}</em>挂号预约<em>#{sep}</em>医生预约
    section.wrapper
        .reg
            header
                h2 按医生预约
            form#regByDocForm
                -var doctorDTO = data.doctorDTO;
                -hosname = '';
                each h in doctorDTO.hospitalReDepartments
                    -var name = h.hospitalName;
                    -hosname += name.substring(name.indexOf('（')+1,name.indexOf('）')) || name;
                ul.clearfix
                    li
                        label 就诊医生
                        h4 #{hosname}
                            mark #{doctorDTO.doctorName}
                    li
                        label 就诊时间
                        span #{data.date}
                    li
                        label 请选择就诊时间段
                        select(name="scheduleId")
                            each value,key in data.timeWithIdMap
                                option(value="#{value.scheduleId}") #{key}(#{value.capacity-value.unConsume}/#{value.capacity})
                    li
                        label 选择就诊人
                        input(type='text',name="patient",required='true')
                    //li
                        span.add-patient.text-main 添加就诊人?


                    button#commit-reg(class='submitBtn') 确认提交

    include ../includes/footer
    script.
        seajs.use('/js/treat/reg_doc.js')
