extends ../layout

block content
    link(href='/css/treat/treat.css',rel='styleSheet')
    link(href="/css/daterangepicker.css",rel="stylesheet")
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>诊疗服务<em>#{sep}</em>挂号预约<em>#{sep}</em>医生预约
    section.wrapper
        .reg-by-doc
            header
                h2 按医生预约
            .regbox
                #regByDocForm
                    ul.clearfix
                        li
                            label 就诊医生
                            h4 #{docName}
                            mark #{docTitle}
                        li
                            label 就诊时间
                            span #{date}
                        li
                            label 就诊时段
                            input#scheduleId(name="scheduleId",type="hidden",value="")
                            #scheduleId-select.select-box(data-load="first")
                                .selected
                                    span.text
                                        span.text-sec 请选择就诊时段
                                    i.icon.pull-down
                                ul.options
                                    if timeSlot && timeSlot.scheduleItems
                                        each value,index in timeSlot.scheduleItems
                                            li.option(data-value="#{value.scheduleId}",data-cost="#{value.cost}") #{moment(value.start).format('HH:mm')}-#{moment(value.end).format('HH:mm')}(#{value.consume}/#{value.capacity})

                        if need === 'true'
                            li
                                label 挂号费
                                span#cost.text-stress


                        button#commit-reg.submitBtn.disabled 确认提交
                        input#hasBind(type="hidden",value="#{hasBind}")
                        //input#needPay(type="hidden",value="#{doctorDTO.needPay}")

    include ../includes/footer
    script(src="/js/libs/1.8.3/jquery.js")
    script(src="/js/treat_reg_doc.bundle.js")
    //-script.
        seajs.use('/js/treat/reg_doc.js')
