extends ../layout

block content
    link(href='/css/treat/treat.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>诊疗服务<em>#{sep}</em>挂号预约<em>#{sep}</em>医生预约
    section.wrapper
        .reg
            header
                h2 按医生预约
            .order-box.border-default
                i.icon.success
                span.price-box
                    span.text-sec 订单支付:
                    span.price.text-stress ￥#{parseInt(data.totalCost) / 100}
                span.order-detail.text-main
                    a.text-main(href='/trade/order/detail?id=#{data.id}') 订单详情>>


            .list-info 选择支付方式

            .pay-box.wechat-pay.border-default 微信支付
            .pay-box.alipay.border-default 支付宝支付


            #order-detail(data-id="#{data.id}")

    include ../includes/footer
    script.
        seajs.use('/js/trade/order_success.js')
