extends ../layout

block content
    link(href='/css/trade/trade.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>诊疗服务<em>#{sep}</em>挂号预约<em>#{sep}</em>医生预约
    section.wrapper
        .order-success
            .order-box.border-default
                i.icon.success
                span.price-box
                    span.text-sec 订单支付:
                    span.price.text-success ￥#{(parseFloat(data.totalCost)/100).toFixed(2)}
                //span.order-detail.text-main
                    a.text-main(href='/trade/order/detail?id=#{data.id}') 订单详情>>


            .list-info 选择支付方式

            .pay-box.wechat-pay.border-default 微信支付
            .pay-box.alipay.border-default 支付宝支付


            input#payId(type="hidden",value="#{data.id}")
            input#orderId(type="hidden",value="#{data.orderId}")

    include ../includes/footer
    script.
        seajs.use('/js/treat/pay.js')
