extends ../layout

block content
    link(href='/css/users/user.css',rel='styleSheet')
    include ../includes/responsive
    .users
        include ../includes/nav
    .positon.wrapper
        |您的位置为：个人中心<em>#{sep}</em>优惠券
    section.wrapper.userBox.coupons.clearfix
        include ../includes/usersNav
        .box-right.fr
            div.get-coupon
                div.tit 领取优惠券
                .code-box.clearfix
                    input#coupon-code.border-default.fl(type='text',placeholder="请输入优惠券号码")
                    button.add-coupon 领取
            ul.coupon-state
                li.unuse.on 未使用
                li.used 已使用
                li.overdue 已过期

            //-if !browser.mobile
            table#coupon-table.users-table.table.table-striped.table-bordered
                thead
                    th 面额\明细
                    th 限用条件
                    th(width="40%") 使用范围
                    th 有效期
                tbody

                    if data.length <= 0
                        tr.no-record: td(colspan='4').tc 暂无优惠券
                    else
                        each item in data
                            -var faceValue, enoughMoney;
                            -var fitAreaArr = data.fitArea;
                            -var j;
                            -var hospitalNames = [];
                            -var areaIds = [];
                            for hospital in JSON.parse(item.fitArea)
                                -hospitalNames.push(hospital.hospitalName);
                            tr
                                if item.ftype == 'cash'
                                    td #{(parseFloat(item.faceValue) / 100).toFixed(2)}元
                                    -enoughMoney = parseFloat(item.enoughMoney);
                                    if(enoughMoney == 0)
                                        td 无门槛
                                    else
                                        td 满#{(enoughMoney/100).toFixed(2)}元使用
                                else if item.ftype == 'discount'
                                    td #{item.discount}折
                                    td 最多可抵#{(parseFloat(item.mostDeduction)/100).toFixed(2)}元
                                td 限#{hospitalNames.join('、')}
                                td #{moment(item.beginTime).format('YYYY-MM-DD')} 至 #{moment(item.endTime).format('YYYY-MM-DD')}
            //-else
                .clearfix
                ul.coupon-list_wap
                    if data.length <= 0
                        aside.tc 暂无优惠券
                    else
                        each item in data
                            -var faceValue, enoughMoney;
                            -var fitAreaArr = data.fitArea;
                            -var j;
                            -var areaNames = [];
                            -var areaIds = [];
                            for city in JSON.parse(item.fitArea)
                                -areaNames.push(city.name);
                            li

                                if item.ftype == 'cash'
                                    h4 #{(parseFloat(item.faceValue) / 100).toFixed(2)}元
                                    -enoughMoney = parseFloat(item.enoughMoney);
                                    p 限用条件：
                                        if(enoughMoney == 0)
                                            em 无门槛
                                        else
                                            em 满#{(enoughMoney / 100).toFixed(2)}元使用
                                else if item.ftype == 'discount'
                                    h4 #{item.discount}折
                                    em 最多可抵#{(parseFloat(item.mostDeduction) / 100).toFixed(2)}元
                                p 限定地区：#{areaNames.join(',')}
                                p 有效期：#{moment(item.beginTime).format('YYYY-MM-DD')} 至 #{moment(item.endTime).format('YYYY-MM-DD')}




    include ../includes/footer
    script.
        seajs.use('/js/users/coupons.js')
