extends ../layout

block content
    link(href='/css/users/user.css',rel='styleSheet')
    include ../includes/responsive
    .users
        include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>我的订单
    section.wrapper.userBox.clearfix
        include ../includes/usersNav
        .box-right.fr
          if !data.length
            .noData
              p 还没有订单哦
              a.btn(href='/screenings/goods') 去看看
          else
            each item in data
                -var orderState = item.orderState;
                dl.order(data-id="#{item.id}",data-cost="#{item.totalCost}")
                    dt
                        |订单编号：#{item.id}
                        time.date-time.text-sec #{moment(item.updatedAt).format('YYYY-MM-DD HH:mm:ss')}
                    dd.clearfix
                        .col.goods
                            -var transmitType = '';
                            each goods,index in item.goodsItemDTOs
                                each value,key in JSON.parse(goods.transmitType)
                                    -transmitType = sampleJson[key];
                                .row
                                    span.row-col.goods-detail
                                        img.fl(src='#{goods.imageUrls[0]}')
                                        h5.fr: a(href='/screenings/goods/detail/#{goods.goodsId}') #{goods.goodsName}
                                    if goods.reservationState == 0
                                        span.row-col.goods-others.text-sec
                                            p 未使用
                                            p #{transmitType}
                                            p.text-stress 密码：#{goods.reservationPwd}
                                        span.row-col.reservation.text-main
                                            p 电话预约
                                            p 400-686-9911
                                    else if goods.reservationState == 1
                                        span.row-col.goods-others.text-sec
                                            p 已预约
                                            p #{transmitType}
                                            p.text-stress 密码：#{goods.reservationPwd}
                                        span.row-col.reservation.text-sec
                                            p: a(href="/users/reservation/detail?id=#{goods.reservationGrouopId}") 预约详情
                                    else
                                        span.row-col.goods-others.text-sec
                                            p #{transmitType}
                        .col.order-state.text-sec

                            if orderState == 1
                                p.state-info.bdr-bt.text-stress
                                    |#{orderStateJSON[orderState]}
                                p 支付剩余时间:&nbsp;
                                    span.timer.text-stress(data-paytime="#{item.updatedAt}",data-currenttime="#{item.currentTime}") 00分00秒
                            else
                                p.state-info.bdr-bt
                                    |#{orderStateJSON[orderState]}
                            p 总额：￥#{(parseFloat(item.totalCost)/100).toFixed(2)}
                            p.realCost 合计：
                                em ￥#{(parseFloat(item.feeMap.goods_price)/100).toFixed(2)}
                            p 服务费：￥
                                if item.feeMap.service_fee
                                    |#{(parseFloat(item.feeMap.service_fee)/100).toFixed(2)}
                                else
                                    | 0.00
                            p 优惠券：-￥
                                if item.feeMap.coupon_fee
                                    | #{(parseFloat(item.feeMap.coupon_fee)/100).toFixed(2)}
                                else
                                    | 0.00
                        .col.operation
                            p: a(href='/trade/order/detail?id=#{item.id}') 订单详情
                            if orderState == 1
                                p: a(href='/trade/order/orderSuccess?id=#{item.id}') 继续支付
                                p: a.cancel-order(href='javascript:void(0);') 取消订单
                            //if orderState ==2
                            //    p: a(href='/trade/order/orderSuccess?id=#{item.id}&totalCost=#{item.totalCost}') 申请退款
                            if orderState == 3
                                p: a.del-order(href='javascript:void(0);') 删除订单
                            //if orderState == 4
                            //    p: a(href='/trade/order/orderSuccess?id=#{item.id}&totalCost=#{item.totalCost}') 取消退款

            include ../includes/pagination



    include ../includes/footer
    script.
        seajs.use('/js/users/orders.js')
