extends ../layout

block content
    link(href='/css/users/user.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>我的订单
    section.wrapper.userBox.clearfix
        aside.fl
            div.user-main.text-center
                img(src='/images/user.png')
                span.tel.text-sec #{account}
            ul.left-nav
                li: a(href='/trade/order/list') 我的订单
                li: a(href='/users/reservation/list') 我的预约
                li: a.on(href='/users/register/list') 我的挂号
                li: a(href='/users/coupon/listView?useState=1') 我的优惠券
                li: a(href='/users/patient/list') 就诊人
        .box-right.fr
            table.users-table.table
                thead
                    th 订单号
                    th 预约信息
                    th 就诊时间
                    th 就诊人
                    th 状态
                    th 操作
                tbody
                  if !data.length
                      tr
                        td(colspan='6').tc 暂无挂号

                  else
                    each item in data
                        tr(data-id="#{item.id}")
                            td
                                p #{item.id}
                                p.text-sec 下单时间:
                                    span #{moment(item.updatedAt).format('YYYY-MM-DD HH:mm:ss')}
                            td
                                if item.doctorDTO
                                    p #{item.doctorDTO.doctorName}
                                    p.text-sec #{item.doctorDTO.title}
                            td
                                p #{moment(item.start).format('YYYY-MM-DD')}
                                p
                                    span.start #{moment(item.start).format('HH:mm:ss')}
                                    |-
                                    span.end #{moment(item.end).format('HH:mm:ss')}
                            td #{item.patient}
                            if item.reservationStatus == 1
                                td.text-stress 待就诊
                                td: a(href="javascript:void(0)").cancel-reg 取消
                            else if item.reservationStatus == 2
                                td 已完成
                                td
                            else if item.reservationStatus == 3
                                td.text-sec 已过期
                                td: a(href="javascript:void(0)").del-reg 删除
                            else if item.reservationStatus == 4
                                td.text-sec 已取消
                                td: a(href="javascript:void(0)").del-reg 删除


    include ../includes/footer
    script.
        seajs.use('/js/users/registerings.js')