extends ../layout

block content
    link(href='/public/css/users/user.css',rel='styleSheet')
    include ../includes/responsive
    .users
        include ../includes/nav
    .positon.wrapper
        |您的位置为：个人中心<em>#{sep}</em>我的报告
    section.wrapper.userBox.clearfix
        -var serviceTypeJSON = {'0':'未选择','1':'门诊取样','2':'上门取样','3':'快递取样'};
        -var addressNameJSON = {'0':'未选择','1':'门诊地址','2':'取样地址','3':'收件地址'};
        include ../includes/usersNav
        .box-right.reservation.fr
           if !data.length
               .noData
                   p 还没有预约哦
           else
            each item in data
                -var orderState = item.orderState;
                dl.order(data-id="#{item.id}")
                    dt
                        span 订单编号：#{item.goodsInfo.orderId}
                        span 预约编号：#{item.id}
                        time.fr.date-time.text-sec #{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')}
                    dd
                        .col.goods
                            -var transmitType = '';
                            if item.goodsInfo
                                -var coverImage = '';
                                if browser.mobile && item.goodsInfo.mobileCoverImages
                                    -coverImage = item.goodsInfo.mobileCoverImages[0];
                                else if item.goodsInfo.pcCoverImages
                                    -coverImage = item.goodsInfo.pcCoverImages[0];

                                .row
                                    span.row-col.goods-detail
                                        a(href="/screenings/goods/detail/#{item.goodsInfo.goodsId}")
                                            img.fl(src='#{coverImage}')
                                            h5.fr #{item.goodsInfo.goodsName}
                            else
                                .row
                                    span.row-col.goods-detail
                                        p 暂无商品
                        .col.detail.text-sec
                            p 取样方式:#{serviceTypeJSON[item.serviceType]}
                            if item.goodsInfo && item.goodsInfo.hospital
                                p.text-sec 服务门诊: #{JSON.parse(item.goodsInfo.hospital).hospitalName}
                            p.text-sec #{addressNameJSON[item.serviceType]}: #{item.address}

                        -var resStatus = item.process;
                        .col.order-state.text-sec
                            if resStatus == 0 || resStatus == 1
                                p.text-stress 待检测
                            else if resStatus == 2
                                p 已完成
                            else if resStatus == 4
                                p 已取消

                        .col.operation.clearfix
                            p: a(href='/users/reservation/detail?id=#{item.id}') 预约详情
                            if resStatus == 2
                                p: a(href='/searchs/report') 查看报告




    include ../includes/footer
    script(src="/public/js/trade/order_list.bundle.js",type="text/javascript",charset="UTF-8")
