extends ../layout

block content
    link(href='/css/users/user.css',rel='styleSheet')
    include ../includes/responsive
    .users
        include ../includes/nav
    .positon.wrapper
        |您的位置为：首页<em>#{sep}</em>#{title}
    section.wrapper.userBox.clearfix
        -var serviceTypeJSON = {'0':'未选择','1':'门诊取样','2':'上门取样','3':'快递取样'};
        include ../includes/usersNav
        .box-right.reservation.fr
           if !data.length
               .noData
                   p 还没有预约哦
           else
            each item in data
                -var orderState = item.orderState;
                dl.order(data-id="#{item.id}")
                    dt
                        |预约编号：#{item.id}
                        time.date-time.text-sec #{moment(item.createdAt).format('YYYY-MM-DD HH:mm:ss')}
                    dd
                        .col.goods
                            -var transmitType = '';
                            each goods,index in item.reservations
                                .row
                                    span.row-col.goods-detail
                                        a(href="/screenings/goods/detail/#{goods.goodsInfo.goodsId}")
                                            img.fl(src='#{goods.goodsInfo.imageUrls[0]}')
                                            h5.fr #{goods.goodsInfo.goodsName}
                        .col.detail.text-sec
                            if item.serviceType == 1
                                p 门诊取样
                                p.text-sec 门诊地址: #{item.address}
                                p.text-sec 预约时间: #{item.time}
                            else if item.serviceType == 2
                                p 上门取样
                                p.text-sec 取样地址: #{item.address}
                                p.text-sec 取样时间: #{item.time}
                            else if item.serviceType == 3
                                p 快递取样
                                p.text-sec 收件地址: #{item.address}
                        -var resStatus = item.status;
                        .col.order-state.text-sec
                            if resStatus == 0 || resStatus == 1
                                p.text-stress 待检测
                            else if resStatus == 2
                                p 已完成
                            else if resStatus == 4
                                p 已取消

                        .col.operation.clearfix
                            p: a(href='/users/reservation/detail?id=#{item.id}') 预约详情
                            if resStatus == 2
                                p: a(href='') 查看报告




    include ../includes/footer
    script.
        seajs.use('/js/trade/order_list.js')
