extends ../layout

block content
    //-link(href="/public/css/daterangepicker.css",rel="stylesheet")
    link(href='/public/css/searchs/search_report.css',rel='styleSheet')
    include ../includes/responsive
    include ../includes/nav
    .positon.wrapper
        |您的位置为：<a href='/'>首页</a><em>#{sep}</em><a href="#{pUrl}">查询报告</a>
    section.wrapper
        input#hasBind(type="hidden",value="#{hasBind}")
        .report_list
            if hasBind
                h2
                    i
                    |报告列表
                ul
                    if data && data.length > 0
                        each item in data
                            li
                                a(href='#{item.url}')
                                    i.icon
                                    |#{item.id}
                    else
                        .noData
                            p 暂无数据


        //-.report
            //-header
                h2 检测结果查询
                p 匿名检测，以服务条件码作为全程身份识别标志，打造全程隐私体验

            //-form.formBox
                ul.clearfix
                    li
                        label 服务条形码
                        input#code(type='text',required,autofocus='true')
                    li
                        label 预设密码
                        input(type='text',required='true')
                    li
                        label 短信验证码
                        input(type='text')
                        span.getCode 获取短信验证码

                    button(class='submitBtn') 提交
    include ../includes/footer
    script(src="/public/js/searchs/search_report.bundle.js",type="text/javascript",charset="UTF-8")
